<h2> total products:  <%= @products_amount_total ? @products_amount_total : 0 %></h2>
<p> sold:  <%= @products_amount_sold ? @products_amount_sold : 0 %></p>
<p> not sold:  <%= @products_amount_not_sold ? @products_amount_not_sold : 0 %></p>
<p> net gain  <%= @net_gain ? @net_gain : 0 %>$</p>

